.navbar1 {
	background-color: #4e5259;
	font-family: calibri;
	color: white;
	height: 50px;
}

	.col {
		color: #b3b3b3;
		text-decoration: none;
		font-size: large;
		text-align:center;
	}

.imagen1 {
	object-fit: cover;
	filter: brightness(85%);
}

.contenedor {
	position: relative; text-align: right; color: white;
}

.textodeprimeraimagen {
	position: absolute; bottom: 500px; right: 10px;
}